@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bienvenue sur notre application de musique</h1>
    <p class="lead">Vous n'êtes pas encore inscrit ? C'est ici que ça se passe !</p>
    <p><button onclick="location.href='@Url.Action("Register", "Home")'" class="btn btn-primary btn-lg">S'inscrire &raquo;</button></p>
    <p class="lead">Déjà Inscrit ? Connecte toi ici </p>
    <p><button onclick="location.href='@Url.Action("Login", "Home")'" class="btn btn-primary btn-lg">Se connecter &raquo;</button></p>
</div>

